<h2 class="title text-center">Change Profile!</h2>
		<div class="container">
			<div class="row">
				
				<div class="col-sm-4">
					<div class="signup-form">
                        <template [ngIf]="result != ''">
                            Your profile has been successfully updated
                        </template>
                        <template [ngIf]="signUpForm != null">
                            <form [formGroup]="signUpForm" (ngSubmit)="save($event)">
                                <input formControlName="username" placeholder="Username" type="text" readonly="readonly" >
                                <input formControlName="password" placeholder="Password" type="password">
                                <input formControlName="fullName" placeholder="Full Name" type="text" required="required">
                                <input formControlName="email" placeholder="Email Address" type="text" required="required">
                                <button type="submit">Signup</button>
                            </form>
                        </template>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
